@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap");

#site-logo a {
  font-family: "Libre Baskerville", serif;
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  padding-left: 40px;
}

#site-logo a:hover {
  cursor: pointer;
}
